/* --- Overall Styling --- */
.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: inline-flex;
}

.content {
  color: #fba100;
  padding: 20px 20px;
}

button {
  width: 275px;
  height: 40px;
  margin: 30px auto;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  border: none;
}

button:hover {
  -moz-box-shadow:     0 0 10px rgb(180, 180, 180);
  -webkit-box-shadow:  0 0 10px rgb(180, 180, 180);
  box-shadow:          0 0 10px rgb(180, 180, 180);
}

h1,
h2 {
  color: #6bbaa7;
}

.shadow {
  -moz-box-shadow:     0 0 10px rgb(180, 180, 180);
  -webkit-box-shadow:  0 0 10px rgb(180, 180, 180);
  box-shadow:          0 0 10px rgb(180, 180, 180);
}

/* .background-image {
  background-image: url(https://images.pexels.com/photos/92904/pexels-photo-92904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
} */

/* --- Navigation bar --- */
#navbar {
  display: inline-flex;
}

#navbar > a,
#navbar > a:link,
#navbar > a:visited,
#navbar > a:hover,
#navbar > a:active{
  color: white;
  text-decoration : none;

}

.tablink {
  background-color: #6c648b;
  color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 17px;
}

.tablink:hover {
  color: white;
  background-color: #b6a19e;
}

/* --- Sidebar --- */
#sidebar {
  background-color: #6bbaa7;
  width: 20%;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(255, 255, 255);
}

img#picture-self {
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 20px;
}

#sidebar > .contacts {
  display: flex;
  flex-direction: column;
}

#sidebar > .contacts > a,
#sidebar > .contacts > a:link,
#sidebar > .contacts > a:visited,
#sidebar > .contacts > a:hover,
#sidebar > .contacts > a:active  {
  margin: 0 auto;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  cursor: default;
}

#sidebar > .contacts > a:hover {
  -moz-box-shadow:     0 0 10px #fba100;
  -webkit-box-shadow:  0 0 10px #fba100;
  box-shadow:          0 0 10px #fba100;
  background-color:  #fb9f00a8;
  border-radius: 50px;
}

/* --- Page Container --- */

.page-container {
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
  position: fixed;
  display: flex;
  flex-direction: column;
}

/* --- Home --- */
#home {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home > .button {
  background-color: #6bbaa7;
  width: 275px;
  height: 40px;
  margin: 30px auto;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  border: none;
}

#home > a.button > h4, 
#home > a.button,
#home > a.button:link,
#home > a.button:visited,
#home > a.button:hover,
#home > a.button:active {
  color: white;
  text-decoration: none;
}

#home > a.button:hover {
  -moz-box-shadow:     0 0 10px rgb(180, 180, 180);
  -webkit-box-shadow:  0 0 10px rgb(180, 180, 180);
  box-shadow:          0 0 10px rgb(180, 180, 180);
  cursor: default;
}

#home > a.button > h4 {
  margin: 12px 10px;
}

#home > a.button > svg {
  margin: 4px;
}

#home > h1 {
  font-size: 50px;
}
#home > h3 {
  font-size: 25px;
}

/* --- About Me --- */
#about-me {
  height: 100vh;
  text-align: center;
}

#about-me > p {
  padding-top: 5%;
  line-height: 40px;
  text-align: justify;
  margin: 0 50px;
}

.personal-pitch {
  background-color: #6c648b69;
  padding: 30px;
  border-radius: 50px;
  color: white;
}

 /* --- Projects --- */
#projects {
  height: 100vh;
  text-align: center;
  overflow: scroll;
}

#projects-container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#projects-container > .project {
  width: 500px;
  border-radius: 10px;
  margin-bottom: 30px;
}

#projects-container > .project > h2 {
  text-decoration: underline;
}

#projects-container > .project > p {
  padding: 10px; 
}

#projects-container > .project > a > img {
  width: 400px;
  margin: 10px;
  border: solid 1px rgb(180, 180, 180);
}

.project {
  background-color: rgba(255, 255, 255, 0.89);
}

 /* --- Skills --- */
 #skills {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#skills > #icon-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 50px;
}

.icons {
  width: 80px;
  margin: 40px
}

/* --- Art Gallery --- */
#art-gallery {
  height: 100vh;
  text-align: center;
  overflow: scroll;
}

#art-work-container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.art-work > img {
  width: 300px;
  margin: 20px
}
