@media only screen and (max-width: 767px) {
    #projects-container>.project {
        width: 80%;
        border-radius: 10px;
        margin-bottom: 30px;
    }
}

/* -- Iphone 5 series -- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #navbar {
        display: inline-flex;
        flex-direction: column;
        height: 100vh;
        padding: 0;
    }
    #navbar > .panel {
        width: 100vw
    }
    .accordion {
        color: white;
        background-color: #3D9B8D;
        padding: 18px;
        text-align: center;
        width: 100%;
        height: 60px;
        border-style: none;
        outline-offset: unset;
        font-size: 15px;
        font-weight: 600;
        transition: 0.4s;
        margin: unset;
    }
    .active,
    .accordion:hover {
        border-style: none;
        outline-offset: unset;
        color: white;
        background-color: rgba(61, 155, 141, 0.527);
    }
    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    #sidebar {
        display: none;
    }
    .page-container {
        width: 100vw;
        height: 100vh;
        margin: unset;
    }
    #home {
        height: 100vh;
        padding: 20px;
        overflow: scroll;
    }
    #home>.button {
        background-color: #4abdac;
        width: 80%;
        height: 40px;
        margin: 30px auto;
        padding: 3%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        border: none;
    }
    #projects-container>.project {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    #about-me>p {
        padding-top: 5%;
        line-height: 40px;
        margin: 0 2px;
        text-align: start;
    }
    #skills>#icon-container {
        width: unset;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.89);
        border-radius: 50px;
    }
    img.art-work {
        width: 100%;
        margin: 0;
        object-fit: contain;
    }
}

/* -- IPhone 6,7,8 series -- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    #navbar {
        display: inline-flex;
        overflow: scroll;
    }
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        height: 20px;
    }
    .active,
    .accordion:hover {
        background-color: #ccc;
    }
    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    #sidebar>p {
        font-size: .5em
    }
    #projects-container>.project {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    #about-me>p {
        padding-top: 5%;
        line-height: 40px;
        margin: 0 2px;
        text-align: unset;
    }
    #skills>#icon-container {
        width: unset;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.89);
        border-radius: 50px;
    }
    img.art-work {
        width: 100%;
        margin: 10px;
        object-fit: contain;
    }
    #sidebar>p {
        font-size: .5em;
        padding: 2px;
    }
}